<!-- VARIABLES: base_category -->
<%= form_with(model: [:admin, base_category]) do |formulario| %>
    <%= formulario.label        :name %>
    <%= formulario.text_field   :name %>
    <% if base_category.errors[:name].any? %>
        <div class="alert alert-warning" role="alert">
            <%= base_category.errors[:name].first %>
        </div>
    <% end %>
    <%= formulario.submit %>
<% end %>